*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    
    width: 100;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top right, #fc2c77 0%,#6c4079 100% );


}
.container{
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 1);
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #04aa;

}
.add{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #00aa6d;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;

}
.head{
    display: flex;
    gap: 1.6rem;
    margin-bottom: 15px;
    margin-right: 50px;

    
}
.button {
    display: flex;
    justify-content: center;
    background-color: #005599;
    font-size: 20px;
    font-weight: 500px;
    letter-spacing: 1px;
    padding: 8px 15px;
    border-radius: 30px;
    align-items: center;
    margin: 70px 150px 0 150px;
}


.button a{
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    
}
/* dynamics class */
.flex{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 15px;;
}
.delete{
    text-decoration: none;
    display: inline-block;
    background: #f44336;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color:#fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input{
    padding: 8px 10px;
    background:#ddd;
    border: none;
    width: 50%;
    border-radius: 5px;

}